%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @users_followed.each do |user|
        %tr
          %td
            %img.pull-left(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(user.email.downcase)}?s=40")
            %text-left= link_to user.full_name,user_path(user)
          %td.extra-padding=user.queue_items.count
          %td.extra-padding=user.followers.count
          %td.extra-padding
            = link_to following_path(user.id),method: :delete  do
              %i.glyphicon.glyphicon-remove
