%section.invite.container
  .row
    .col-sm-10.col-sm-offset-1
      .invite
        =bootstrap_form_for @invitation,url: invitations_path do |f|
          %header
            %h1 Invite a friend to join MyFlix!
          %fieldset
            .form-group
              .row
                .col-sm-4
                  =f.text_field name = :recipient_name,label: "Friend's Name"
            .form-group
              .row
                .col-sm-4
                  =f.email_field name = :recipient_email, label: "Friend's Email Address"
            .form-group
              .row
                .col-sm-6
                  =f.text_area name = :message,rows:6,label: "Invitation Message",value:"Please join this really cool site!"
          %fieldset.form-group.action
            =f.submit value = "Send Invitation" 
