<body>
Thank you for joining MyFlix!
<br><br>
Built with Ruby on Rails, MyFlix is a demo application and NetFlix clone.  It includes the following functionality: 
<br>
<ul>
  <li>Robust test suite with over 160 tests (unit, controller, and integration/feature). The test suite uses popular tools like Rspec, Capybara, Faker, and Fabrication.</li>
  <li>Skinny controller/fat model design</li>
  <li>Token generation</li>
  <li>Working Action Mailer/MailGun integration.</li>
  <li>Social networking features that allow user following, reviewing, and rating movies.</li>
  <li>Movie queue features: add to queue, queue re-ordering, removal</li>
  <li>Heroku Deployment</li>
  <li>HAML view templates</li>
  <li>Background processing with Sidekiq</li>
</ul>

Thanks again for trying it out!

</body>